.tabs__list {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.tabs__item {
  position: relative;
  padding: 6px 16px 9px;
  border-bottom: 1px solid #e0e0e0;
  color: #6d778b;
  cursor: pointer;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 24px;
}

.tabs__item:not(.tabs__item--active):hover {
  color: #da1f2a;
}

.tabs__item--active {
  color: #363a47;
  cursor: default;
}

.tabs__item--active::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 3px 3px 0 0;
  background: #da1f2a;
  content: '';
}
